.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chatbot-button {
    background-color: #4CAF50;
    color: #fff;
}

.chatbot-window {
    width: 400px;
    height: 600px;
    overflow-y: auto;
    position: fixed;
    bottom: 80px;
    right: 20px;
    border-radius: 8px;
    padding-top: 20px; /* 预留关闭按钮的空间 */
    position: relative;
}

.chatbot-messages {
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

.message.user {
    background-color: #4CAF50;
    align-self: flex-end;
}

.message.bot {
    background-color: #333;
    align-self: flex-start;
}

/* 关闭按钮样式 */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #999;
    border: none;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 0; /* 清除所有外边距 */
    display: inline-block;
    border: inset rgb(217, 68, 236);
    border-width: 2px;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, arial, sans-serif;
}